
Manuscript/jabbrv-ltwa-all.ldf
Manuscript/jabbrv-ltwa-en.ldf
Manuscript/jabbrv.sty
Manuscript/main.aux
Manuscript/main.bbl
Manuscript/main.blg
Manuscript/main.log
Manuscript/main.out
Manuscript/main.synctex.gz
Manuscript/main.tex
Manuscript/naturemag-doi.bst
Manuscript/bibliography.bib
/Manuscript/Images
Manuscript/wlscirep.cls
Code/Intermediate-Objects/solution.pkl
